<div class="forgot-password-container" role="region" aria-labelledby="reset-password-title"
    aria-describedby="reset-password-description">
    <h2 id="reset-password-title" tabindex="0">Restablecer contraseña</h2>
    <p id="reset-password-description" tabindex="0">Ingresá tu nueva contraseña.</p>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
            <div class="wrapper">
                <label for="password" class="sr-only">Contraseña</label>
                <input id="password" [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" required
                    aria-required="true" autocomplete="new-password" formControlName="password" />
                <button type="button" class="toggle-password" [attr.aria-pressed]="showPassword" [attr.aria-label]="
                                                        showPassword
                                                            ? 'Ocultar contraseña'
                                                            : 'Mostrar contraseña'
                                                    " (click)="togglePassword()">
                    <span class="material-symbols-outlined">
                        {{
                        showPassword
                        ? "visibility_off"
                        : "visibility"
                        }}
                    </span>
                </button>
            </div>
            <div *ngIf="
                                                    form.get('password')?.touched &&
                                                    form.get('password')?.invalid
                                                " class="error" role="alert" tabindex="0">
                <div *ngIf="form.get('password')?.errors?.['required']">
                    Este campo es obligatorio.
                </div>
                <div *ngIf="form.get('password')?.errors?.['minlength']">
                    La contraseña debe tener al menos 8 caracteres.
                </div>
            </div>
        </div>
        <div>
            <div class="wrapper">
                <label for="repeat-password" class="sr-only">Repetir contraseña</label>
                <input id="repeat-password" [type]="showRepeatPassword ? 'text' : 'password'"
                    placeholder="Repetir contraseña" required aria-required="true" autocomplete="new-password"
                    formControlName="repeatPassword" />
                <button type="button" class="toggle-password" [attr.aria-pressed]="showRepeatPassword"
                    [attr.aria-label]="
                                                        showRepeatPassword
                                                            ? 'Ocultar contraseña'
                                                            : 'Mostrar contraseña'
                                                    " (click)="toggleRepeatPassword()">
                    <span class="material-symbols-outlined">
                        {{
                        showRepeatPassword
                        ? "visibility_off"
                        : "visibility"
                        }}
                    </span>
                </button>
            </div>
            <div *ngIf="
                                                    form.get('repeatPassword')?.touched &&
                                                    form.get('repeatPassword')?.invalid
                                                " class="error" role="alert" tabindex="0">
                <div *ngIf="form.get('repeatPassword')?.errors?.['required']">
                    Este campo es obligatorio.
                </div>
                <div *ngIf="form.get('repeatPassword')?.errors?.['minlength']">
                    La contraseña debe tener al menos 8 caracteres.
                </div>
            </div>

            <div *ngIf="form.errors?.['passwordMismatch'] && form.get('repeatPassword')?.touched" class="error"
                role="alert" tabindex="0">
                Las contraseñas no coinciden.
            </div>
        </div>
        <button type="submit" class="button" [disabled]="form.invalid">Restablecer contraseña</button>
    </form>

    <p class="back-to-login">
        <a href="/login">Volver al inicio de sesión</a>
    </p>
</div>