<ng-container [ngSwitch]="step">
    <app-forgot-password *ngSwitchCase="'email'" (emailSubmitted)="onEmailSubmitted($event)"
        (tokenReceived)="onTokenReceived($event)"></app-forgot-password>

    <app-code-verification *ngSwitchCase="'code'" [token]="token" (codeVerified)="onCodeVerified()"
        (backToEmail)="step = 'email'"></app-code-verification>

    <app-reset-password *ngSwitchCase="'reset'" [token]="token" (passwordReset)="onPasswordReset()"
        (backToCode)="step = 'code'"></app-reset-password>
</ng-container>