:host {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.modal {
    max-width: 360px;
}

.title {
    display: flex;
    gap: 8px;
    align-items: center;
}

.title h1 {
    margin: 0;
}

.delete {
    font-size: 2em;
    color: var(--color-button-cancel);
}

.button {
    font-size: 1em;
    font-weight: 700;
}

@media (min-width: 768px) {
    .delete {
        font-size: 2.5em;
    }

    .button {
        font-size: 1.4em;
    }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}
