:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    position: relative;
    background-image: url("../../../public/map.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
    font-family: Arial, sans-serif;
}

:host::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.verification-container {
    position: relative;
    z-index: 1;
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
    color: var(--color-primario);
    font-weight: 400;
}

p {
    font-size: 1em;
    color: var(--color-subtitulos);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

input[type="text"] {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline-offset: 2px;
    transition: border-color 0.3s ease;
    text-align: center;
    letter-spacing: 4px;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

.back-to-login {
    margin-top: 1.5rem;
}

.back-to-login a {
    text-decoration: none;
}

.back-to-login a:hover {
    text-decoration: underline;
}

.code-inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 1rem;
    max-width: 100%;
}

.code-box {
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    flex-shrink: 0;
}

.code-box:focus {
    border-color: #007bff;
}

.error {
    margin: 2px;
}
