:host {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    overflow-y: auto;
}

input {
    margin-bottom: 8px;
}

.image-error {
    margin-top: 12px;
}

@media (min-width: 768px) {
    .modal {
        min-width: 650px;
    }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}
