.login-container {
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.header {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
}

.header .company-name {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.75em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: var(--color-primario);
    cursor: pointer;
}

.form-content {
    max-width: 400px;
    margin: 0 auto;
    padding: 105px 45px 65px 45px;
}

.title {
    font-size: 4em;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    text-align: center;
    color: var(--color-primario);
    font-weight: 400;
}

.subtitle {
    font-size: 0.8em;
    color: var(--color-subtitulos);
    margin-bottom: 48px;
    text-align: center;
}

.tab-switch {
    display: flex;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
}

.tab-switch .active {
    color: var(--color-secundario);
    border-bottom: 2px solid var(--color-secundario);
}

.tab-switch .inactive {
    color: grey;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

.password-wrapper {
    position: relative;
}

.email-wrapper,
.password-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.email-wrapper > span,
.password-wrapper > span {
    border-bottom: 1px solid #ccc;
    padding: 8px 4px;
    color: var(--color-texto);
    font-weight: 400;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 7px;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.options {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 12px;
}

.options input {
    width: auto;
    transform: scale(1.25);
    border-color: var(--color-texto);
    margin-left: 8px;
}

.options label {
    margin: 0;
    color: var(--color-texto);
    font-weight: 400;
    font-size: 1em;
}

.forgot-password {
    text-decoration: none;
    color: var(--color-button);
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.login-button {
    padding: 12px;
    margin-top: 42px;
}

.login-form-section {
    flex: 0.9;
    overflow-y: auto;
    height: 100vh;
}

.login-image-section {
    display: none;
}

input {
    font-size: 1.15em;
    width: 100%;
}

.wrapper > span {
    font-size: 1.45em;
}

.login-image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.google-info {
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
    color: var(--color-subtitulos);
    text-align: center;
    margin: 4px 0 6px 0;
}

a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a6a6a6;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #a6a6a6 transparent;
}

@media (min-width: 768px) {
    .login-container {
        display: flex;
    }

    .login-image-section {
        flex: 1.1;
        position: sticky;
        top: 0;
        height: 100vh;
        overflow: hidden;
        display: block;
    }

    .login-button {
        margin-top: 72px;
    }

    .tab-switch {
        margin-bottom: 48px;
    }

    .options {
        margin-top: 24px;
        margin-bottom: 48px;
    }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}
