<div class="backdrop" (click)="cancel()" (keydown.escape)="cancel()">
    <div
        cdkTrapFocus
        [@fadeInOut]
        class="modal"
        (click)="$event.stopPropagation()"
        role="dialog"
        aria-labelledby="modal-title"
    >
        <h1 id="modal-title" tabindex="0" #firstFocusElement>
            CAMBIAR CONTRASEÑA
        </h1>
        <p tabindex="0" class="required-fields">
            Los campos marcados con <span class="required">*</span> son
            obligatorios.
        </p>

        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <label for="actual_password">CONTRASEÑA ACTUAL*</label>
                <input
                    id="actual_password"
                    [type]="showPassword ? 'text' : 'password'"
                    formControlName="actual_password"
                    placeholder="Introduce tu contraseña actual"
                    autocomplete="current-password"
                />
                <button
                    type="button"
                    class="toggle-password"
                    [attr.aria-pressed]="showPassword"
                    [attr.aria-label]="
                        showPassword
                            ? 'Ocultar contraseña'
                            : 'Mostrar contraseña'
                    "
                    (click)="togglePassword()"
                >
                    <span class="material-symbols-outlined">
                        {{ showPassword ? "visibility_off" : "visibility" }}
                    </span>
                </button>
                <div
                    *ngIf="
                        changePasswordForm.get('actual_password')?.touched &&
                        changePasswordForm.get('actual_password')?.errors
                    "
                    class="error"
                    role="alert"
                    id="actual_passwordError"
                    tabindex="0"
                >
                    <div
                        *ngIf="changePasswordForm.get('actual_password')?.errors?.['required']"
                    >
                        Este campo es obligatorio.
                    </div>
                    <div
                        *ngIf="changePasswordForm.get('actual_password')?.errors?.['minlength']"
                    >
                        Debe tener al menos 8 caracteres.
                    </div>
                </div>
            </div>

            <div class="form-row">
                <label for="new_password">NUEVA CONTRASEÑA*</label>
                <input
                    id="new_password"
                    [type]="showNewPassword ? 'text' : 'password'"
                    formControlName="new_password"
                    placeholder="Introduce una nueva contraseña"
                    autocomplete="new-password"
                    [attr.aria-describedby]="
                        changePasswordForm.get('new_password')?.touched &&
                        changePasswordForm.get('new_password')?.errors
                            ? 'new_passwordError'
                            : null
                    "
                    [attr.aria-invalid]="
                        changePasswordForm.get('new_password')?.invalid
                            ? 'true'
                            : 'false'
                    "
                />
                <button
                    type="button"
                    class="toggle-password"
                    [attr.aria-pressed]="showNewPassword"
                    [attr.aria-label]="
                        showNewPassword
                            ? 'Ocultar contraseña'
                            : 'Mostrar contraseña'
                    "
                    (click)="toggleNewPassword()"
                >
                    <span class="material-symbols-outlined">
                        {{ showNewPassword ? "visibility_off" : "visibility" }}
                    </span>
                </button>
                <div
                    *ngIf="
                        changePasswordForm.get('new_password')?.touched &&
                        changePasswordForm.get('new_password')?.errors
                    "
                    class="error"
                    role="alert"
                    id="newPasswordError"
                    tabindex="0"
                >
                    <div
                        *ngIf="changePasswordForm.get('new_password')?.errors?.['required']"
                    >
                        Este campo es obligatorio.
                    </div>
                    <div
                        *ngIf="changePasswordForm.get('new_password')?.errors?.['minlength']"
                    >
                        Debe tener al menos 8 caracteres.
                    </div>
                </div>
            </div>

            <div class="form-row">
                <label for="confirmPassword">REPETIR NUEVA CONTRASEÑA*</label>
                <input
                    id="confirmPassword"
                    [type]="showConfirmPassword ? 'text' : 'password'"
                    formControlName="confirmPassword"
                    placeholder="Repite la nueva contraseña"
                    autocomplete="new-password"
                    [attr.aria-describedby]="
                    changePasswordForm.touched && changePasswordForm.errors?.['passwordMismatch']
                        ? 'confirmPasswordError'
                        : null
                "
                    [attr.aria-invalid]="changePasswordForm.errors?.['passwordMismatch'] ? 'true' : 'false'"
                />
                <button
                    type="button"
                    class="toggle-password"
                    [attr.aria-pressed]="showConfirmPassword"
                    [attr.aria-label]="
                        showConfirmPassword
                            ? 'Ocultar contraseña'
                            : 'Mostrar contraseña'
                    "
                    (click)="toggleConfirmPassword()"
                >
                    <span class="material-symbols-outlined">
                        {{ showConfirmPassword ? "visibility_off" : "visibility" }}
                    </span>
                </button>
                <div
                    *ngIf="changePasswordForm.touched && changePasswordForm.errors?.['passwordMismatch']"
                    class="error"
                    role="alert"
                    id="confirmPasswordError"
                    tabindex="0"
                >
                    Las contraseñas no coinciden.
                </div>
            </div>

            <div class="buttons">
                <button
                    type="submit"
                    class="button"
                    [disabled]="changePasswordForm.invalid"
                >
                    Cambiar contraseña
                </button>
                <button type="button" class="button cancel" (click)="cancel()">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>
