:host {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.error {
    margin-top: 8px;
    margin-bottom: 0px;
}

button {
    margin-top: 16px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 20px;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.form-row {
    position: relative;
}


@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}
