:host {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.error {
    margin-top: 8px;
    margin-bottom: 0px;
}

button {
    margin-top: 16px;
}
