:host {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.title {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
}

.title h1 {
    margin: 0;
    font-size: 1.25em;
}

.stars {
    display: flex;
    cursor: pointer;
    margin-bottom: 24px;
    justify-content: center;
}

.star {
    font-size: 28px;
    color: #ccc;
    position: relative;
}

.star.filled {
    color: #ba8e23;
    text-shadow: 0 0 5px gold;
}

.button {
    font-size: 1em;
    font-weight: 700;
}

.star-title {
    color: #ba8e23;
    text-shadow: 0 0 5px gold;
    font-size: 2em;
    margin-right: 8px;
}

@media (min-width: 768px) {
    .button {
        font-size: 1.2em;
    }
    .star-title {
        font-size: 2.5em;
    }
    .star {
        font-size: 32px;
    }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}
