<div class="backdrop" (click)="cancel()" (keydown.escape)="cancel()">
    <div cdkTrapFocus [@fadeInOut] class="modal" (click)="$event.stopPropagation()" role="dialog" aria-modal="true"
        aria-labelledby="modal-title" aria-describedby="modal-description" #PATCH>
        <div class="info-left">
            <p tabindex="0" #firstFocusElement class="date">
                {{ location?.createdAt?.toLocaleDateString('es-AR', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                }) || "Fecha no disponible" }}
            </p>

            <div class="title-section">
                <h2 id="modal-title" tabindex="0">
                    {{ location?.name || "404 No existe la locación" }}
                </h2>
                <div class="profile-section">
                    <span class="material-symbols-outlined delete_icon" *ngIf="userLoggedIn?.id === location?.UserId"
                        (click)="deleteLocation()" (keydown.enter)="deleteLocation()" aria-label="Eliminar locación"
                        tabindex="0">
                        delete
                    </span>
                    <button class="profile-button" (click)="
                            handleProfileHoverEnter(
                                $event,
                                userCreator?.id || -1
                            )
                        " (mouseenter)="
                            handleProfileHoverEnter(
                                $event,
                                userCreator?.id || -1
                            )
                        " (keydown.enter)="
                            handleProfileHoverEnter(
                                $event,
                                userCreator?.id || -1
                            )
                        " [attr.aria-label]="
                            'Ver perfil de ' +
                            userCreator?.first_name +
                            ' ' +
                            userCreator?.last_name
                        ">
                        <img [src]="
                                userCreator?.profile_image_url ||
                                this.apiUrl + '/uploads/default_profile.jpg'
                            " [alt]="
                                'Foto de ' +
                                userCreator?.first_name +
                                ' ' +
                                userCreator?.last_name
                            " class="profile-pic" />
                    </button>
                </div>
            </div>

            <p class="location" tabindex="0">
                {{ location?.address || "Dirección no disponible" }}
            </p>

            <div class="rating" tabindex="0" role="region" [attr.aria-label]="
                    'Calificación de ' +
                    location?.name +
                    ' es ' +
                    location?.averageRating
                ">
                <span *ngFor="let star of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" class="material-symbols-outlined"
                    [class.filled]="star <= (location?.averageRating ?? 0)" tabindex="-1" aria-hidden="true">
                    star
                </span>
                <p>{{ location?.averageRating }}/10</p>
                <button (click)="rateLocation()" (keydown.enter)="rateLocation()" class="button">
                    Puntuar
                </button>
            </div>

            <div class="carousel">
                <button tabindex="0" type="button" aria-label="Imagen previa" class="arrow" (click)="prevImage()"
                    *ngIf="(location?.images?.length || 0) > 1">
                    ‹
                </button>
                <img [src]="location?.images?.[currentImageIndex] ? location?.images?.[currentImageIndex] : this.apiUrl + '/uploads/404_error.png'"
                    [alt]="'imagen'" />
                <button class="arrow" type="button" aria-label="Imagen siguiente" (click)="nextImage()"
                    *ngIf="(location?.images?.length || 0) > 1">
                    ›
                </button>
            </div>

            <div class="dots" *ngIf="(location?.images?.length || 0) > 1">
                <span *ngFor="let img of this.location?.images; let i = index" [class.active]="i === currentImageIndex"
                    role="button" tabindex="0" (click)="selectImage(i)" [attr.aria-label]="'Imagen ' + (i + 1)"></span>
            </div>

            <p class="description" id="modal-description" [tabIndex]="location?.details ? 0 : -1"
                aria-label="Descripción de la ubicación">
                {{ location?.details }}
            </p>

            <div class="tags">
                <span class="type-tag" tabindex="0" aria-label="Tipo de locación.">{{
                    this.location != null
                    ? this.location.type.charAt(0).toUpperCase() +
                    this.location.type.slice(1).toLowerCase()
                    : "Sin Tipo"
                    }}</span>
                <span *ngFor="let tag of location?.tags" class="tag" tabindex="0" aria-label="Etiqueta">{{ tag }}</span>
            </div>
        </div>

        <div class="comments-right" tabindex="0" aria-label="Sección de comentarios">
            <div class="comments-header">
                <h3 tabindex="0">COMENTARIOS</h3>
                <span class="material-symbols-outlined"> chat </span>
            </div>
            <div class="comments-list" #commentsContainer>
                <div class="comment" *ngFor="let c of comments">
                    <button class="profile-button" (click)="handleProfileHoverEnter($event, c.UserId)" (mouseenter)="
                        handleProfileHoverEnter($event, c.UserId)"
                        (keydown.enter)="handleProfileHoverEnter($event, c.UserId)" tabindex="0" [attr.aria-label]="
                            'Ver perfil de ' +
                            c.user_first_name +
                            ' ' +
                            c.user_last_name
                        ">
                        <img [src]="c.user_profile_image_url || this.apiUrl + '/uploads/default_profile.jpg'" [alt]="
                                'Foto de perfil de ' +
                                c.user_first_name +
                                ' ' +
                                c.user_last_name
                            " class="comment-pic" />
                    </button>

                    <div class="comment-body">
                        <div class="comment-meta">
                            <strong style="line-height: 12px" tabindex="0" aria-label="Usuario">{{
                                c.user_first_name + " " + c.user_last_name
                                }}</strong>
                            <br />
                            <small tabindex="0" aria-label="Ubicación y fecha">{{ c.comment_address }} •
                                {{
                                c.createdAt.toLocaleDateString('es-AR', { year:
                                'numeric', month: 'long', day: 'numeric', })}}
                            </small>
                        </div>
                        <p class="comment-text" tabindex="0" aria-label="Comentario">
                            {{ c.comment_text }}
                        </p>
                    </div>
                </div>
            </div>
            <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment()" class="comment-form"
                aria-label="Formulario para agregar un comentario" tabindex="0">
                <img [src]="
                        userLoggedIn
                            ? userLoggedIn.profile_image_url
                            : this.apiUrl + '/uploads/default_profile.jpg'
                    " [alt]="'Foto de perfil de ' + userLoggedIn?.first_name" class="comment-pic" />
                <input type="text" formControlName="text" placeholder="Escribe un comentario..." required />
                <button type="submit" hidden></button>
            </form>
        </div>
    </div>
</div>