<div class="catcher" #resumeProfileContainer (click)="$event.stopPropagation()" role="dialog"
    aria-labelledby="modal-title" aria-describedby="modal-description" [@fadeInOut] cdkTrapFocus
    (mouseleave)="handleProfileHoverLeave()" (keydown.escape)="handleProfileHoverLeave()">
    <div class="bar"></div>
    <div class="modal">
        <div class="profile-header">
            <img [src]="this.user?.profile_image_url" [alt]="
                    'Avatar de usuario de ' +
                    this.user?.first_name +
                    ' ' +
                    this.user?.last_name
                " class="profile-avatar" tabindex="0" />
            <div class="user-info">
                <div class="user-name" tabindex="0" #firstFocusElement>
                    {{
                    this.user
                    ? this.user.first_name.toUpperCase() +
                    " " +
                    this.user.last_name.toUpperCase()
                    : ""
                    }}
                </div>
                <div class="user-email" *ngIf="this.user?.show_email">
                    <a tabindex="0" [href]="'mailto:' + this.user?.email">{{
                        this.user?.email
                        }}</a>
                </div>
            </div>
        </div>
        <ul class="profile-options" tabindex="0" role="menu" aria-label="Opciones del menú de perfil">
            <li tabindex="0" role="menuitem" aria-label="Fecha de creación de cuenta">
                <span class="material-symbols-outlined"> calendar_month </span>
                <p>
                    Cuenta creada el
                    {{ this.user?.createdAt?.toLocaleDateString('es-AR', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    }) || "Fecha no disponible" }}
                </p>
            </li>
            <li tabindex="0" role="menuitem" aria-label="Fecha de nacimiento" *ngIf="user?.show_birth_date">
                <span class="material-symbols-outlined"> cake </span>
                <p>
                    {{ this.user?.birth_date?.toLocaleDateString('es-AR', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    }) || "Fecha no disponible" }}
                </p>
            </li>
            <li tabindex="0" role="menuitem" aria-label="Última locación conocida"
                *ngIf="(user?.show_location && !(user?.address === 'Ubicación no compartida'))">
                <span class="material-symbols-outlined"> distance </span>
                <p>Última locación conocida en {{ this.user?.address }}</p>
            </li>
        </ul>
    </div>
</div>