<div
    class="forgot-password-container"
    role="region"
    aria-labelledby="forgot-password-title"
    aria-describedby="forgot-password-description"
>
    <h1 id="forgot-password-title" tabindex="0">Recuperar contraseña</h1>
    <p id="forgot-password-description" tabindex="0">
        Ingresá tu correo electrónico y te enviaremos un código para restablecer
        tu contraseña.
    </p>

    <form (ngSubmit)="submit()" [formGroup]="form">
        <div class="wrapper">
            <label for="email" class="sr-only">Correo Electrónico</label>
            <input
                id="email"
                type="email"
                placeholder="Correo Electrónico"
                required
                autocomplete="email"
                aria-required="true"
                formControlName="email"
            />
        </div>
        <div
            *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
            class="error"
            role="alert"
            tabindex="0"
        >
            <div *ngIf="form.get('email')?.errors?.['required']">
                Este campo es obligatorio.
            </div>
            <div *ngIf="form.get('email')?.errors?.['email']">
                Debe ser un correo electrónico válido.
            </div>
            <div *ngIf="form.get('email')?.errors?.['maxLength']">
                El correo electrónico no puede exceder los 50 caracteres.
            </div>
        </div>

        <button type="submit" class="button" [disabled]="form.invalid">
            Enviar código
        </button>
    </form>

    <p class="back-to-login">
        <a href="/login">Volver al inicio de sesión</a>
    </p>
</div>
